<html>
    <head>
        <title>title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="lingual-div-container">
            <div class="container-lingual-detterance">
                <span class="Languages-abide">Select your language</span>
                <span class="sm-description">Languages from India and around the world</span>
            </div>
            <div class="lingual-div-contents">
                <div class="lingual-div-content ltl-active">
                    <span class="lingual-text">English</span>
                </div>
                <div class="lingual-div-content">
                    <span class="lingual-text ">हिन्दी</span>
                </div>
                <div class="lingual-div-content">
                    <span class="lingual-text">বাংলা</span>
                </div>
                <div class="lingual-div-content">
                    <span class="lingual-text">తెలుగు</span>
                </div>
                <div class="lingual-div-content">
                    <span class="lingual-text">മലയാളം</span>
                </div>
                <div class="lingual-div-content">
                    <span class="lingual-text">español</span>
                </div>
                </div>
            </div>
    </body>
</html>
