<html>
<head>
<title>Search Page</title>
<link rel="stylesheet" type="text/css" href="./static/globals.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="navabar">
        <div class="searchContainer">
            <form class="searchForm">
                <button name="submit" class="elements search-btn"> <h1 class="logoFavicon-Search"></h1></button>
                <input type="text" name="search" placeholder="Search anything"
                autoComplete="off" aria-label="Search anything" autofocus
                class="search-input"
                >
                <button name="submit" class="elements"><i class='bx bx-microphone'></i></button>
            </form>
        </div>
    </div>
</body>
    
</html>