#    {% comment %} <section class="lander-showcase">
    #     <div class="lander-showcase-container">
    #         <div class="lander-showcase-item">
    
    #             <span class="ltr-header">
    #                 Why choose Dravel when you still have so many options?
    #             </span>
    #             </div>
    #         </div>
    #         <div class="lander-showcase-container rtert">
    #             <div class="lander-showcase-item">
    #                 <span class="ltr-header">
    #                     What does Beta means ?
    #                 </span>
    #                 </div>
    #         </div>
    <div class="footer-trade">
        <a href="#">Add your website</a>
        <a href="#">License</a>
        <a href="#">Privacy and T&C</a>
        </div>
    #             </section> {% endcomment %}
      <!--      {% extends 'languages.html' %}
        {% block content %}
        {% if (localStorage.getItem("langPref") = null) %}
        {{super()}}
        
        
        {% endif %}
        {% endblock content %}-->
        <!--
            <section class="settings-container-container">
            <section class="settings-container">
            
            </section>
            </section>
          
          
          
          <section class="Footer footer-relative">
          <p>&copy; 2022 Overpedia GmBH</p>
          <section class="footer-links">
              
              <a href="https://overpedia.com/privacy-policy/">Privacy Policy</a>
              <a href="https://overpedia.com/terms-of-use/">Terms of Use</a>
             
              <div class="settings"><i class='bx bxs-cog'></i></div>
              <div class="country"><sapn class="country-in"></span></div>
          </section>
 
      </section>
      </section>
     <section class="settings-container-container">
      <section class="settings-container">
      
      </section> -->